#container{
	width:693px;
	text-align:justify;
	background-color:#fff;
	margin:auto;
			}
body{
	background-color:#cccccc;
	font-family:Verdana;
	font-size:11px;
	}
p:first-letter{
	color:blue;
	font-weight:bold;
	font-size:38px;
	font-family:Times New Roman;
	}
/*p{
	padding:1px 10px 1px 10px;
}*/
h3{
	padding:1px 10px 1px 10px;
}
h1{
	padding:10px 10px 10px 40px;
}
		
		
#content{
	width:693px;
	height:600px;
	float:left;
	background-color:#FFF;
	}
/*#nav{
	width:200px;
	height:300px;
	float:left;
	background-color:#e7e7e7;
	}*/
#header{
	height:50px;
	background-color:#b0b0b0;
	}
	
ul{
	margin:0;
	padding:0;
	width:720px;
	list-style:none;
	text-transform: uppercase;
}
li{
	display: inline-block;
	float:left;
}
a{
	padding:0 10px 0 10px;
	line-height:25px;
	text-decoration: none;
	color:#fff;
	float: left;
	display:block;
	background-image:url(images/nb.gif);
	background-repeat:repeat-x;
	}
a:hover{
	color:#333;
}
