#container{
	width:720px;
	text-align:justify;
	background-color:#fff;
	margin:auto;
			}
body{
	background-color:#cccccc;
	font-family:Verdana;
	font-size:11px;
	}
p:first-letter{
	color:blue;
	font-weight:bold;
	font-size:38px;
	font-family:Times New Roman;
	}
p{
	padding:1px 10px 1px 10px;
}
h3{
	padding:1px 10px 1px 10px;
}
h1{
	padding:10px 10px 10px 40px;
}
	
#content{
	width:520px;
	height:300px;
	float:left;
	background-color:#FFF;
	}
#nav{
	width:200px;
	height:300px;
	float:left;
	background-color:#e7e7e7;
	}
#header{
	height:50px;
	background-color:#b0b0b0;
	}
	
ul li{
	padding-top:10px;
	padding-bottom:10px;
	list-style:none;
	font-size:12px;
	}
a:link{text-decoration:none;}
a:visited{color:black; text-decoration:none;}
a:hover{color:black; font-weight:bold; text-decoration:underline;}
a:active{color:black; font-weight:bold; text-decoration:underline;}
